.TagHandler-Container {
  background-color: #f3f5f9;
  height: 280px;
  width: 100%;
  border-radius: 15px;
  overflow: auto;
}

#tag-list {
  list-style: none;
  padding: 0;
}

#tag-list li:nth-child(even) {
  background-color: #ffffff;
}

#tag-list li {
  padding: 15px 25px;
  font-size: 20px;
  color: #151837;
  position: relative;
}
#tag-list li:hover {
  background-color: #dcecee;
}

.Delete_icon {
  width: 25px;
  margin-left: auto;
  position: absolute;
  right: 60px;
  cursor: pointer;
  bottom: 50%;
  transform: translateY(50%);
  display: none;
}

#tag-list li:hover .Delete_icon {
  display: block;
  transition: all 300ms ease;
}

.input-group-container input {
  padding: 15px;
  outline: none;
  border: none;
  margin: 0px 5px;
  background-color: #f3f5f9;
  color: #151837;
  font-size: 20px;
  width: 47%;
  border-radius: 10px;
}
::placeholder {
  color: #b0bcd1 !important;
  opacity: 1;
}
