* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container-div {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}



.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}
.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 30px;
  height: 30px;
  transition: transform 0.28s ease;
  border-radius: 13px;
  background-color: #b4c0d3;
}
.checkbox label:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 15px;
  left: 13px;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  background-color: #09a391;
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}
